@charset "utf-8";

#main{
  width: 1080px;
  margin: 40px auto;
padding: 40px 80px;
border: green 1px solid;
background-color: white;
}
.photo{
  float: left;
  margin-right: 30px;
}
.car_picture:after{
  content: "";
  clear: both;
  display: block;
}
.explanation{
  float: left;
  width: 468px;
}


body{
  background-color: gray;
  width:50%
}

.center{
  margin: 0 auto 0 auto;
  width: 50%;
}

header{
  background-color: white;
}

u1{
  list-style: none; /*・を消す*/
  margin: 0;
  padding: 0;
}

li{
  float: left;
  margin-right: 1%;
}

.image:after{
  /*clear-fix */
  content: "";
  display: block;
  clear: both;
}

dt{
  clear: left;
  float: left;
  font-weight: hold;
}

#ingredient{
  border: 2px solid lightcoral;
}

th, td{
  border: 1px solid lightcoral;
}

#gnav a {
  display: block; /* a要素のブロック化 */
  padding:10px 0; /*上下に空間を確保する */
  text-align: center; /*中央ぞろえ*/
  text-decoration: none; /*下線を消す*/
  background: skyblue;
  color: white;
}

#gnav a:hover{
  background: lightskyblue;
  color: black;
}

#gnav a.selected {
  background: white;
  color: blue;
  font-weight: hold;
}


#gnav li {
  float: left; /*固定幅にするためにfloatで指定 */
  width: 156px;
  border-right: white 1px solid; /* 右に線を引く */
  list-style-type: none; /* 点を消す */
}
#gnav li:first-child {
  border-left:white 1px solid; /*左にも線を引く*/
}

.breadcrumbs li {
  display: inline;  /*liを横並び*/
  list-style-type: none;  /*点を消す*/
}

.breadcrumbs li:before {
  content: " > "; /* liの前に記号追加*/
}

.breadcrumbs li:first-child:befor {
  content:""; /*最初だけcontentを消す */
}

