@charset "utf-8";

#main{
  width: 960px;
  margin: 40px auto;
padding: 40px 80px;
border: green 1px solid;
background-color: white;
}


body{
  background-color: gray;
  width:50%
}

.center{
  margin: 0 auto 0 auto;
  width: 50%;
}

u1{
  list-style: none; /*・を消す*/
  margin: 0;
  padding: 0;
}

li{
  float: left;
  margin-right: 1%;
}

.image:after{
  /*clear-fix */
  content: "";
  display: block;
  clear: both;
}

dt{
  clear: left;
  float: left;
  font-weight: hold;
}

#ingredient{
  border: 2px solid lightcoral;
}

th, td{
  border: 1px solid lightcoral;
}

